{% extends 'urls-rdf-apps/base.html' %}

{% block cover %}
<div class="inner cover">
    <h1><i class="fa fa-question-circle" aria-hidden="true"></i> Help</h1>
    <p class="lead">
        This presentation's source code is available on Github at
        <a href="https://github.com/jermnelson/urls-rdf-apps">https://github.com/jermnelson/urls-rdf-apps</a> and under the
        <a href="https://www.gnu.org/licenses/gpl.html">GPLv3.0</a> license.
    </p>
    <h3>Projects</h3>
    <ul>
        <li>
            <a href="https://bibcat.org/">BIBCAT</a> an open-source project sponsored by 
            <a href="http://knowledgelinks.io/">KnowledgesLink LLC</a> and is main component of the 
            Catalog Pull Platform. BIBCAT provides a core set of RDF-based utilities for managing
            bibliographic based RDF graphs using multiple vocabularies with a focus on 
            <a href="http://www.loc.gov/bibframe/docs/index.html">BIBFRAME</a> and <a href="http://schema.org/">schema.org</a>
        </li>
        <li>
            The Colorado Alliance of Research Libraries's <a href="http://bibcat.coalliance.org">BIBCAT Pilot</a> is an
            Library Linked-Data publishing project for transforming MARC XML from the Alliance's 
            <a href="https://www.coalliance.org/faq-library-content-comparison-system">Gold Rush Library Comparison Systems</a> to 
            BIBFRAME RDF that is then published to the web in <a href="http://schema.org/">schema.org</a> metadata 
            for indexing by commercial search engines like Google and Bing. All open-source code is hosted on Github
            at <a href="https://github.com/KnowledgeLinks/alliance-bibcat">https://github.com/KnowledgeLinks/alliance-bibcat</a>
        </li>
        <li>
            <a href="https://github.com/KnowledgeLinks/dpla-service-hub">DPLA Service Hub</a> is the open-source software behind the 
            <a href="https://plains2peaks.org/">Plains2Peaks.org</a> DP.LA regional service hub
            for Colorado and Wyoming. 
        </li>
        <li>
            The last two projects are an open-source thesis <a href="https://discovery.coloradocollege.edu/etd/">self-submission application</a> for 
            <a href="https://www.coloradocollege.edu/">Colorado College's</a> Seniors to upload their thesis and supporting datasets
            to Colorado College's digital repository. The Colorado College institutional knowledge graph to support this application is hosted  
            on Github at <a href="https://github.com/Tutt-Library/tiger-catalog">https://github.com/Tutt-Library/tiger-catalog</a>.  

        </li>
    </ul>
    <h3>References</h3>
    <ul>
        <li>
            <a id="ref-1"></a>
            Coyle, K. (2010). <em>Understanding the Semantic Web: Bibliographic data and metadata.</em> ALA TechSource.
        </li> 
        <li>
            <a id="ref-2"></a> <em>Keep a simple URL structure.</em> Accessed 
            <a href="https://support.google.com/webmasters/answer/76329">https://support.google.com/webmasters/answer/76329</a>
        </li>
        <li>
            <a id="ref-5"></a> <em>Resource Naming</em> from REST API Tutorial. Accessed 
            <a href="http://www.restapitutorial.com/lessons/restfulresourcenaming.html">http://www.restapitutorial.com/lessons/restfulresourcenaming.html</a>
        </li>
        <li>
            <a id="ref-3"></a> <em>Use canonical URLs</em>. Accessed
            <a href="https://support.google.com/webmasters/answer/139066">https://support.google.com/webmasters/answer/139066</a> 
        </li>
        <li>
            <a id="ref-4"></a>Fishkin, R. (2015). <em>15 SEO Best Practices for Structuring URLs</em>.
            Accessed <a href="https://moz.com/blog/15-seo-best-practices-for-structuring-urls">https://moz.com/blog/15-seo-best-practices-for-structuring-urls</a>
        </li>
        <li>
            <a id="ref-8"></a>
            Gorman, M. (2001) <em>Authority Control in the Context of Bibliographic Control in the Electronic Environment</em> 
            Accessed <a href="http://polaris.gseis.ucla.edu/gleazer/461_readings/Gorman.pdf">http://polaris.gseis.ucla.edu/gleazer/461_readings/Gorman.pdf</a>
        </li>

        <li>
            <a href="ref-8"></a> Mulloy, B. (2011). <em>RESTful API Design: nouns are good, verbs are bad</em>
            Accessed <a href="https://apigee.com/about/blog/technology/restful-api-design-nouns-are-good-verbs-are-bad">https://apigee.com/about/blog/technology/restful-api-design-nouns-are-good-verbs-are-bad</a>
        </li>
        <li>
            <a id="ref-7"></a>Papadakis, I., Kyprianos, K., & Stefanidakis, S. (2015) <em>Linked Data URIs and Libraries: The Story So Far</em>
            D-Lib. Accessed <a href="http://www.dlib.org/dlib/may15/papadakis/05papadakis.html">http://www.dlib.org/dlib/may15/papadakis/05papadakis.html</a>
        </li>
        <li>
            <a id="ref-6"></a>Sahni, V. <em>Best Practices for Designing a Pragmatic RESTful API</em> 
            Accessed <a href="http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api">http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api</a> 
        </li>
    </ul>
</div>
{% endblock cover %}
