{% extends 'urls-rdf-apps/base.html' %}

{% block cover %}
<div class="inner cover">
    <h1><i class="fa fa-question-circle" aria-hidden="true"></i> Help</h1>
    <h3>References</h3>
    <ol>
        <li>
            <a id="ref-1"></a>
            Coyle, K. (2010). <em>Understanding the Semantic Web: Bibliographic data and metadata.</em> ALA TechSource.
        </li> 
        <li>
            <a id="ref-7"></a>
            Gorman, M. (2001) <em>Authority Control in the Context of Bibliographic Control in the Electronic Environment</em> 
            Accessed <a href="http://polaris.gseis.ucla.edu/gleazer/461_readings/Gorman.pdf">http://polaris.gseis.ucla.edu/gleazer/461_readings/Gorman.pdf</a>
        </li>
        <li>
            <a id="ref-2"></a> <em>Keep a simple URL structure.</em> Accessed 
            <a href="https://support.google.com/webmasters/answer/76329">https://support.google.com/webmasters/answer/76329</a>
        </li>
        <li>
            <a id="ref-5"></a> <em>Resource Naming</em> from REST API Tutorial. Accessed 
            <a href="http://www.restapitutorial.com/lessons/restfulresourcenaming.html">http://www.restapitutorial.com/lessons/restfulresourcenaming.html</a>
        </li>
        <li>
            <a id="ref-3"></a> <em>Use canonical URLs</em>. Accessed
            <a href="https://support.google.com/webmasters/answer/139066">https://support.google.com/webmasters/answer/139066</a> 
        </li>
        <li>
            <a id="ref-4"></a> Fishkin, R. (2015). <em>15 SEO Best Practices for Structuring URLs</em>.
            Accessed <a href="https://moz.com/blog/15-seo-best-practices-for-structuring-urls">https://moz.com/blog/15-seo-best-practices-for-structuring-urls</a>
        </li>
        <li>
            <a id="ref-7"></a>  Papadakis, I., Kyprianos, K., & Stefanidakis, S. (2015) <em>Linked Data URIs and Libraries: The Story So Far</em>
            D-Lib. Accessed <a href="http://www.dlib.org/dlib/may15/papadakis/05papadakis.html">http://www.dlib.org/dlib/may15/papadakis/05papadakis.html</a>
        </li>
        <li>
            <a id="ref-6"></a>Sahni, V. <em>Best Practices for Designing a Pragmatic RESTful API</em> 
            Accessed <a href="http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api">http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api</a> 
        </li>
    </ol>
</div>
{% endblock cover %}
